@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ddd;
  background-image: url(../public/img/san.avif);
  background-repeat: no-repeat;
  background-size: cover;
}